.product-card {
  display: flex;
  flex-direction: column;
  height: 410px;
  padding: 2%;
  flex: 1 16%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.685);
  align-items: center;
}

.product-image img {
  height: 190px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

.product-info {
  text-align: center;
  margin-top: auto;
}

.re1 {
  background-color: rgb(3, 52, 214);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.re2 {
  background-color: rgb(3, 52, 214);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.emz {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  margin-top: -10px;
}
